@tailwind base;
@tailwind components;
@tailwind utilities;

.link-animation::after {
  content: "//";
  position: absolute;
  left: -15px;
  transform: scaleY(0);
  transition: all 0.15s ease-in-out 0s;
  color: #34d399;
}

.link-animation:hover::after {
  transform: scaleY(1);
}

.link-animation {
  position: relative;
  padding-left: 15px;
}

.pattern {
  background-color: #1c1c1c00;
  opacity: 1;
  background-image: radial-gradient(
    var(--dot-color, #d4d4d465) 2px,
    #e6e5e500 2px
  );
  background-size: 40px 40px;
}

.animate-float {
  animation: float 5s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0px);
  }
}

.transparent-radial {
  background: rgb(0, 0, 0);
  background: radial-gradient(
    circle,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0.7861345221682423) 30%,
    rgba(0, 0, 0, 0.5396358372450543) 70%,
    rgba(0, 0, 0, 0.23151258794533436) 100%
  );
}
